{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<? $view['slots']->start('breadcrumb') ?>" }}
    <li>
        <a class="crumb" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}">
            {{ "<?=$view['translator']->trans('" ~ entity ~ "')?>" }}
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a class="crumb" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_edit', array('id' => $entity->getId())) ?>" }}">
            {{ "<?=$entity?>" }}
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a class="crumb active" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_edit', array('id' => $entity->getId())) ?>" }}">
            Edit
        </a>
    </li>
{{ "<? $view['slots']->stop('breadcrumb') ?>" }}

{{ "<?php $view['slots']->start('box_buttons') ?>" }}
    {% set hide_edit, hide_delete = true, false %}
    {% include 'views/others/record_actions.html.php.twig' %}
{{ "<?php $view['slots']->stop('box_buttons') ?>" }}

<div class="padded">
    <div class="section-title">
        General information
    </div>

    <div class="vpadded">
        <form action="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_update', array('id' => $entity->getId())) ?>" }}" method="post" class="form-horizontal" {{ "<?= $view['form']->enctype($form) ?>" }}>
            {{ "<?= $view['form']->widget($form) ?>" }}

            <div class="control-group">
                <label class="control-label">&nbsp;</label>
                <div class="controls">
                    <button type="submit" class="btn medium-blue">
                        <i class="icon-edit"></i> {{ "<?=$view['translator']->trans('Save')?>" }}
                    </button>
                    &nbsp;
                    <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}" class="btn red">
                        <i class="icon-remove"></i> {{ "<?=$view['translator']->trans('Cancel')?>" }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
