{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<? $view['slots']->start('breadcrumb') ?>" }}
    <li>
        <a class="crumb active" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}">
            <?=$view['translator']->trans('{{ translation_prefix }}_name')?>
        </a>
    </li>
{{ "<? $view['slots']->stop('breadcrumb') ?>" }}

{{ "<? $view['slots']->start('box_header') ?>" }}
    <i class="icon-th-list"></i>
    <?=$view['translator']->trans('{{ translation_prefix }}_name')?>
{{ "<? $view['slots']->stop('box_header') ?>" }}

{{ "<? $view['slots']->start('box_buttons') ?>" }}
    {% if 'new' in actions %}
    <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_new') ?>" }}" class="btn btn-mini">
        <i class="icon-file"></i> <?=$view['translator']->trans('{{ translation_global_prefix }}create_new')?>
    </a>
    {% endif %}
{{ "<? $view['slots']->stop('box_buttons') ?>" }}

<form action="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}" method="post" class="form-horizontal" {{ "<?= $view['form']->enctype($searchForm) ?>" }}>
    <fieldset>
        <h2>Filter</h2>
{% for field, metadata in fields %}
            <?= $view['form']->row($searchForm['{{ field }}'], array('label' => '{{ translation_prefix }}{{ field }}')) ?>
{% endfor %}

        <div class="control-group">
            <label class="control-label">&nbsp;</label>
            <div class="controls">
                <button type="submit" class="btn medium-blue">
                    <i class="icon-edit"></i> <?=$view['translator']->trans('global.save')?>
                </button>
                &nbsp;
                <a href="<?= $view['router']->generate('vilturas_order.order') ?>" class="btn red">
                    <i class="icon-remove"></i> <?=$view['translator']->trans('global.cancel')?>
                </a>
            </div>
        </div>
    </fieldset>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><?=$view['translator']->trans('{{ translation_global_prefix }}name')?></td>
            <td><?=$view['translator']->trans('{{ translation_global_prefix }}actions')?></td>
        </tr>
    </thead>
    <tbody>
        {{ '<? foreach ($entities as $entity):?>' }}
        <tr>
            <td>
                <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_edit', array('id' => $entity->getId())) ?>" }}">
                    {{ '<?=(string)$entity?>' }}
                </a>
            </td>
            <td style="width: 20%">
                {%- include "views/others/actions.html.php.twig" %}
            </td>
        </tr>
        {{ '<? endforeach;?>' }}
        {{ '<? if (empty($entities)): ?>' }}
        <tr>
            <td colspan="3">
                <?=$view['translator']->trans('{{ translation_global_prefix }}no_entries')?>
            </td>
        </tr>
        {{ '<? endif;?>' }}
    </tbody>
</table>