{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<? $view['slots']->start('breadcrumb') ?>" }}
    <li>
        <a class="crumb" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}">
            <?=$view['translator']->trans('{{ translation_prefix }}_name')?>
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a class="crumb active" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_new', array('id' => $entity->getId())) ?>" }}">
            <?=$view['translator']->trans('{{ translation_global_prefix }}create_new')?>
        </a>
    </li>
{{ "<? $view['slots']->stop('breadcrumb') ?>" }}

{{ "<? $view['slots']->start('box_header') ?>" }}
    <i class="icon-th-list"></i>
    <?=$view['translator']->trans('{{ translation_prefix }}_name')?>
{{ "<? $view['slots']->stop('box_header') ?>" }}

{{ "<?php $view['slots']->start('box_buttons') ?>" }}
    {% set hide_edit, hide_delete = true, true %}
    {% include 'views/others/record_actions.html.php.twig' %}
{{ "<?php $view['slots']->stop('box_buttons') ?>" }}

<div class="padded">
    <div class="section-title">
        <?=$view['translator']->trans('{{ translation_global_prefix }}general_information')?>
    </div>

    <div class="vpadded">
        <form action="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_create', array('id' => $entity->getId())) ?>" }}" method="post" {{ "<?= $view['form']->enctype($form) ?>" }} class="form-horizontal">

{% for field, metadata in fields %}
            <?= $view['form']->row($form['{{ field }}'], array('label' => '{{ translation_prefix }}{{ field }}')) ?>
{% endfor %}

            <?= $view['form']->rest($form) ?>

            <div class="control-group">
                <label class="control-label">&nbsp;</label>
                <div class="controls">
                    <button type="submit" class="btn medium-blue">
                        <i class="icon-edit"></i> <?=$view['translator']->trans('{{ translation_global_prefix }}save')?>
                    </button> 
                    <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}" class="btn red">
                        <i class="icon-remove"></i> <?=$view['translator']->trans('{{ translation_global_prefix }}cancel')?>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>