{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<?php $view['slots']->start('header_row') ?>" }}
    <div class="span5">
        <h2>{{ "<?=$view['translator']->trans('" ~ entity ~ "')?>" }} {{ "<?=$view['translator']->trans('Creation')?>" }}</h2>
    </div>
    <nav class="span4">
        {% set hide_edit, hide_delete = true, true %}
        {% include 'views/others/record_actions.html.php.twig' %}
    </nav>
{{ "<?php $view['slots']->stop('header_row') ?>" }}

<div class="padded">
    <div class="section-title">
        General information
    </div>

    <div class="vpadded">
        <form action="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_create', array('id' => $entity->getId())) ?>" }}" method="post" {{ "<?= $view['form']->enctype($form) ?>" }}>
            {{ "<?= $view['form']->widget($form) ?>" }}

            <button type="submit" class="btn light-blue inverse">
                <i class="icon-edit"></i> {{ "<?=$view['translator']->trans('Save')?>" }}
            </button> 
            <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}" class="btn red">
                <i class="icon-remove"></i> {{ "<?=$view['translator']->trans('Cancel')?>" }}
            </a>
        </form>
    </div>
</div>