{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<?php $view['slots']->start('box_buttons') ?>" }}
    {% set hide_edit, hide_delete = false, false %}
    {% include 'views/others/record_actions.html.php.twig' %}
{{ "<?php $view['slots']->stop('box_buttons') ?>" }}

<table class="table no-border">
    <tbody>
        {%- for field, metadata in fields %}

        <tr>
            <th>{{ field|capitalize }}</th>

        {%- if metadata.type in ['date', 'datetime'] %}

            <td>{{ '<?=(string)$entity->get' ~ field|replace({'_': ''}) ~ '()?>' }}</td>

        {%- else %}

            <td>{{ '<?=$entity->get' ~ field|replace({'_': ''}) ~ '()?>' }}</td>

        {%- endif %}

        </tr>

    {%- endfor %}
    </tbody>
</table>
