{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<? $view['slots']->start('breadcrumb') ?>" }}
    <li>
        <a class="crumb" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}">
            <?=$view['translator']->trans('{{ translation_prefix }}_name')?>
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a class="crumb" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_show', array('id' => $entity->getId())) ?>" }}">
            {{ "<?=$entity?>" }}
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a class="crumb active" href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_show', array('id' => $entity->getId())) ?>" }}">
            <?=$view['translator']->trans('{{ translation_global_prefix }}show')?>
        </a>
    </li>
{{ "<? $view['slots']->stop('breadcrumb') ?>" }}

{{ "<? $view['slots']->start('box_header') ?>" }}
    <i class="icon-th-list"></i>
    <?=$view['translator']->trans('{{ translation_prefix }}_name')?>
{{ "<? $view['slots']->stop('box_header') ?>" }}

{{ "<?php $view['slots']->start('box_buttons') ?>" }}
    {% set hide_edit, hide_delete = false, false %}
    {% include 'views/others/record_actions.html.php.twig' %}
{{ "<?php $view['slots']->stop('box_buttons') ?>" }}

<div class="padded">
    <div class="section-title">
        <?=$view['translator']->trans('{{ translation_global_prefix }}general_information')?>
    </div>

    <table class="table no-border">
        <tbody>
        {%- for field, getter in getters %}
            <tr>
                <th>
                    <?=$view['translator']->trans('{{ translation_prefix }}{{ field }}')?>
                </th>
                <td>
                    {{ '<?=(string)$entity->' ~ getter ~ '()?>' }}
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>